<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    
<connectionStrings>
    <add name="10e2b01f-703e-4731-8865-a471005ed57eConnectionString" connectionString="Data Source=10e2b01f-703e-4731-8865-a471005ed57e.sqlserver.sequelizer.com;Initial Catalog=db10e2b01f703e47318865a471005ed57e;Persist Security Info=True;User ID=kbhurwtnikudsmdz;Password=gA74Z7sCpJ5jeomSLKUSbb4q4H83nTXty7YkyeXATWFf7LBfkeEgRv5fEQar8xqD" providerName="System.Data.SqlClient" />
   
</connectionStrings>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>